asn3.pdf

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Packaging / build outputs
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing and coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Jupyter
.ipynb_checkpoints/

#reports
reports/

#data
data/



#Robot modules
cs_me_301_pi5/


